globals :
{
	verbose = true;
	loglevel = 5;
	syslog = true;
	/* public-key-file = "test.pem"; */
	/* no-downgrading = "0.1"; */
	/* no-reinstalling = "0.1"; */
};

/* suricatta :
{
	tenant		= "default";
	id		= "123456";
	url 		= "http://papero.fritz.box:8080";
	polldelay	= 20;
	nocheckcert	= true;
	retry		= 4;
	retrywait	= 200;
	loglevel	= 10;
	userid		= 1000;
	groupid		= 1000;
	enable		= true;
	initial-report-resend-period = 30;
	connection-timeout = 10;
	max-download-speed = "1M";
*/
/*
	cafile		= "/etc/ssl/cafile";
	sslkey		= "/etc/ssl/sslkey";
	sslcert		= "/etc/ssl/sslcert";
	targettoken 	= "3bc13b476cb3962a0c63a5c92beacfh7";
	gatewaytoken 	= "99616d4fae39167deddf21cd90047861";
	usetokentodwl   = false;
*/
/*
};
*/